@-webkit-keyframes mouse_move {
  0% {
    top: 0; }
  25% {
    top: 10px; }
  50% {
    top: 0; }
  75% {
    top: 10px; }
  100% {
    top: 0; } }

@-moz-keyframes mouse_move {
  0% {
    top: 0; }
  25% {
    top: 10px; }
  50% {
    top: 0; }
  75% {
    top: 10px; }
  100% {
    top: 0; } }

@-o-keyframes mouse_move {
  0% {
    top: 0; }
  25% {
    top: 10px; }
  50% {
    top: 0; }
  75% {
    top: 10px; }
  100% {
    top: 0; } }

@keyframes mouse_move {
  0% {
    top: 0; }
  25% {
    top: 10px; }
  50% {
    top: 0; }
  75% {
    top: 10px; }
  100% {
    top: 0; } }

.mouse_wrapper {
  position: fixed;
  top: 88%;
  left: 50%;
  -webkit-transform: translate(-50%);
  -moz-transform: translate(-50%);
  -o-transform: translate(-50%);
  -ms-transform: translate(-50%);
  transform: translate(-50%); }

.mouse_animated {
  position: relative;
  border: 3px solid #302F2B;
  margin: 0 auto;
  width: 23px;
  height: 35px;
  display: flex;
  border-radius: 12px;
  -webkit-animation: mouse_move 3s infinite;
  -moz-animation: mouse_move 3s infinite;
  -o-animation: mouse_move 3s infinite;
  animation: mouse_move 3s infinite; }

.mouse_scroller {
  margin-top: 7px;
  margin-left: auto;
  margin-right: auto;
  border: 3px solid #302F2B;
  width: 0;
  height: 7px;
  border-radius: 3px; }

@keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

@-webkit-keyframes slideUp {
  0% {
    opacity: 0;
    transform: translateY(70%); }
  100% {
    opacity: 1;
    transform: translateY(0%); } }

html, body, h1, h2, h3, h4, p, ul, li, a, img, nav, header, article, footer {
  margin: 0;
  padding: 0; }

h1, h2, h3 {
  font-family: "Nixie One", cursive;
  color: #302F2B;
  text-align: center; }

h1 {
  font-size: 2.8em;
  margin-bottom: 10px; }

h2 {
  font-size: 2.6em;
  margin-top: 20px;
  margin-bottom: 20px; }

h3 {
  font-size: 1.8em;
  margin-top: 8%;
  margin-bottom: 6%; }

p {
  font-family: Verdana, Geneva, sans-serif;
  color: #515151;
  line-height: 130%; }

img {
  display: block;
  margin-left: auto;
  margin-right: auto; }

a {
  color: black;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.main-color-header {
  text-align: center;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 2.0em;
  color: #00887A;
  font-family: Verdana, Geneva, sans-serif; }

.hide {
  visibility: hidden; }

.nav-transperent {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  -webkit-transition: all .8s;
  -moz-transition: all .8s;
  -o-transition: all .8s;
  transition: all .8s;
  background-color: transparent; }

.logo {
  margin-top: 6px;
  margin-bottom: 5px;
  margin-left: 6%;
  display: inline; }

.nav-menu-container {
  margin-top: 10px;
  margin-right: 8%;
  font-family: Verdana, Geneva, sans-serif;
  float: right; }
  .nav-menu-container ul {
    margin-top: 16px;
    margin-bottom: 16px; }
    .nav-menu-container ul li {
      display: inline;
      margin-left: 10px;
      margin-right: 10px; }
      .nav-menu-container ul li a {
        font-size: 1em; }

.header-wrapper:before {
  content: "";
  display: block;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: -10;
  background: url("../../images/background-compressor.jpg") no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover; }

.header-wrapper {
  height: 100vh; }

.header-content {
  position: fixed;
  top: 45%;
  left: 50%;
  -webkit-transform: translate(-50%);
  transform: translate(-50%);
  text-align: center; }

article {
  box-shadow: 0 1px 30px #302F2B; }
  article .about-me-wrapper {
    width: 100%;
    background-color: #FBFBFC;
    position: relative;
    border-bottom: 1px solid lightgrey; }
    article .about-me-wrapper .my-photo-container {
      margin-top: 18px; }

.resume {
  background-color: white;
  margin-top: 18px;
  margin-bottom: 18px; }
  .resume p {
    padding: 30px 60px;
    border: 1px solid lightgrey;
    border-radius: 2px; }

.my-photo {
  border-radius: 50%;
  visibility: hidden;
  margin: auto; }

.skills-wrapper {
  position: relative;
  background: white; }
  .skills-wrapper .mt {
    border: 1px solid transparent;
    margin-top: 6%;
    min-height: 320px; }
    .skills-wrapper .mt:hover {
      border: 1px solid lightgrey;
      border-radius: 2px;
      background-color: #FBFBFC;
      box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.1); }
      .skills-wrapper .mt:hover .img-wrapper img {
        height: 60px;
        width: 60px; }
    .skills-wrapper .mt .img-wrapper {
      width: 100px;
      height: 60px;
      margin: 0 auto;
      position: relative;
      margin-top: 15px;
      margin-bottom: 10px; }
      .skills-wrapper .mt .img-wrapper img {
        transition: all .2s; }
    .skills-wrapper .mt p {
      font-size: 16px;
      text-align: center;
      padding: 14px; }

.my-code-wrapper {
  background-image: url("../../images/perron-compress-compressor.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  width: auto;
  position: fixed;
  position: relative; }
  .my-code-wrapper .opacity {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%; }
    .my-code-wrapper .opacity .portfolio-height {
      height: 180px; }
      .my-code-wrapper .opacity .portfolio-height h2 {
        color: white; }
      .my-code-wrapper .opacity .portfolio-height .github {
        -webkit-transition: all .2s;
        -moz-transition: all .2s;
        -o-transition: all .2s;
        transition: all .2s; }
        .my-code-wrapper .opacity .portfolio-height .github:hover {
          width: 220px;
          height: auto; }

.contacts-wrapper {
  background: white;
  position: relative; }

.footer-wrapper {
  background-color: #302F30;
  padding-top: 20px;
  padding-bottom: 20px;
  position: relative; }
  .footer-wrapper .footer-content {
    text-align: center; }
    .footer-wrapper .footer-content .autor-name {
      color: #fff; }

.slideUp {
  -webkit-animation: 1.2s slideUp;
  -moz-animation: 1.2s slideUp;
  -o-animation: 1.2s slideUp;
  animation: 1.2s slideUp;
  visibility: visible; }

.nav-white {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0001;
  -webkit-transition: all .6s;
  -moz-transition: all .6s;
  -o-transition: all .6s;
  transition: all .6s;
  box-shadow: 0 1px 30px #302F2B;
  background-color: white; }

* {
  box-sizing: border-box; }

.grid {
  margin-right: 12%;
  margin-left: 12%;
  max-width: 1200px; }

.row {
  margin-top: 10%;
  margin-bottom: 10%; }

.grid:before, .grid:after, .row:before, .row:after {
  content: " ";
  display: table;
  clear: both; }

[class*='col-'] {
  width: 100%;
  float: left;
  min-height: 1px; }

@media screen and (min-width: 644px) {
  .col-3 {
    width: 25%; }
  .col-4 {
    width: 33.33%; }
  .col-5 {
    width: 41.66%; }
  .col-6 {
    width: 50%; }
  .col-7 {
    width: 58.33%; }
  .col-8 {
    width: 66.66%; }
  .col-9 {
    width: 75%; }
  .col-10 {
    width: 83.33%; }
  .col-11 {
    width: 91.66%; }
  .col-12 {
    width: 100%; } }

@media screen and (min-width: 880px) {
  .col-w-3 {
    width: 25%; }
  .col-w-4 {
    width: 33.33%; }
  .col-w-5 {
    width: 41.66%; }
  .col-w-6 {
    width: 50%; }
  .col-w-7 {
    width: 58.33%; }
  .col-w-8 {
    width: 66.66%; }
  .col-w-9 {
    width: 75%; }
  .col-w-10 {
    width: 83.33%; }
  .col-w-11 {
    width: 91.66%; }
  .col-w-12 {
    width: 100%; } }

@media screen and (max-width: 860px) {
  ul li a {
    font-size: 1em; }
  h1 {
    font-size: 2em; }
  h2 {
    font-size: 1.8em; }
  p {
    text-align: center; }
  .nav-wrapper {
    text-align: center; }
    .nav-wrapper .logo {
      width: 260px;
      margin-left: 0;
      margin-top: 8px;
      margin-bottom: 0; }
    .nav-wrapper .nav-menu-container {
      float: none;
      margin-right: 0; }
  .header-wrapper .header-content {
    top: 42%; }
  .main-color-header {
    font-size: 1.4em; }
  .grid {
    margin-right: 4%;
    margin-left: 4%; }
  .mouse_wrapper {
    top: 80%; }
  .resume p {
    padding: 16px 28px; }
  .skills-wrapper .mt {
    min-height: 0;
    margin-top: 9%; } }

@media screen and (max-width: 480px) {
  .header-wrapper .header-content {
    top: 38%; }
  .main-color-header {
    font-size: 1.4em; }
  .contacts-wrapper .main-color-header {
    font-size: 1.1em; } }
