
@keyframes mymove{
    0%{top: 0;}
    25%{top: 10px;}
    50%{top: 0;}
    75%{ top: 10px;}
    100%{top: 0;}
}
.mouse_wrapper{
    position: fixed;
    top: 88%;
    left: 50%;
    transform: translate(-50%);
}
.mouse_animated{
    position: relative;
    border: 3px solid #302F2B;
    margin: 0 auto;
    width: 21px;
    height: 35px;
    display: flex;
    border-radius: 12px;
    animation: mymove 3s infinite;
}
.scroll{
    margin-top: 7px;
    margin-left: auto;
    margin-right: auto;
    border: 3px solid #302F2B;
    width: 0;
    height: 4px;
    border-radius: 3px;
}

