
// @keyframes whiteOn {
//     from {
//         background-color: transparent;
//         box-shadow: transparent;
//     }
//     to {
//         background-color: white;
//         box-shadow: 0 1px 30px #302F2B;
//     }
// }
// @-webkit-keyframes whiteOn{
//     from {
//         background-color: transparent;
//         box-shadow: transparent;
//     }
//     to {
//         background-color: white;
//         box-shadow: 0 1px 30px #302F2B;
//     }
// }

// @keyframes whiteOff {
//     from {
//         background-color: white;
//         box-shadow: 0 1px 30px #302F2B;
//     }
//     to {
//         background-color: transparent;
//         box-shadow: transparent;
//     }
// }
// @-webkit-keyframes whiteOff{
//     from {
//         background-color: white;
//         box-shadow: 0 1px 30px #302F2B;
//     }
//     to {
//         background-color: transparent;
//         box-shadow: transparent;
//     }
// }

@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}
@-webkit-keyframes slideUp{
    0% {
        opacity: 0;
        transform: translateX(-70%);
    }
    100% {
        opacity: 1;
        transform: translateX(0%);
    }
}