
body, html{
    margin: 0;
    height: 100%;
}
h1, h2{
    font-family: 'Nixie One', cursive;
    margin: 0;
    color: #302F2B;
}
h1{
    font-size: 2.8em;
    margin-bottom: 10px;
}
h2{
    font-size: 2.6em;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 20px;
}
h3{
    font-family: 'Nixie One', cursive;
    margin: 0;
    font-size: 1.8em;
    text-align: center;
    margin-top: 8%;
    margin-bottom: 6%;
    color: #555555;
}
p{
    font-family: Arial, sans-serif;
    margin: 0;
    color: #707070;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.white{
    color: white;
}
.hide{
    visibility: hidden;
}

/*nav*/

.nav-transperent{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    animation-name: whiteOff;
    animation-duration: 0.6s;
    background-color: transparent;
}
.logo{
    margin-top: 6px;
    margin-bottom: 5px;
    margin-left: 6%;
    display: inline;
}
.nav-menu-container{
    margin-top: 10px;
    margin-right: 8%;
    font-family: Arial, sans-serif;
    float: right;
}
ul{
   padding: 0;
}
ul li{
    display: inline;
    margin-left: 10px;
    margin-right: 10px;
}
ul li a{
    font-size: 1em;
    text-decoration: none;
    color: #302F2B;
}
ul li a:hover{
    text-decoration: underline;
}

/*header*/

.header-wrapper{
    background-image: url("../images/background-compressor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    /*height: 680px;*/
}
.header-content{
    position: fixed;    
    top: 45%;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

/*article*/

article{
    box-shadow: 0 1px 30px #302F2B;
}

/*about-me*/

.about-me-wrapper{
    width: 100%;
    background-color: #FBFBFC;
    position: relative;
}
.my-photo-container{
    margin-top: 18px;
}
.my-photo{
    border-radius: 50%;
    margin: auto;
    visibility:hidden;
}
.content{
    background-color: white;
    margin-top: 18px;   
    margin-bottom: 18px;
}
.content p{
    letter-spacing: 0.04em;
    line-height: 140%;
    padding: 30px 60px;
    border: 1px solid lightgrey;
    border-radius: 2px;
}

/*skills*/

.skills-wrapper{
    position: relative;
    background: white;
}
.green-header{
    text-align: center;
    width: 100%;
    margin-top: 10px;
    font-size: 2.0em;
    color: #00887A;
    font-family: Arial, sans-serif;
}
.center{
    text-align: center;
}

/*img*/

.img-wrapper{
    width: 100px;
    height: auto;
    margin: 0 auto;
    position: relative;
    margin-top: 12px;
}
.mt{
    margin-top: 6%;
    /*height: 320px;*/
}
p.center{
    margin: 20px;
}

/*Some of my code*/

.my-code-wrapper{
    background-image: url("../images/perron-compress-compressor.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    width: auto;
    position: relative;
}
.opacity{
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
}
.portfolio-height{
    height: 200px;
}
.portfolio{
    text-align: center;
}
.github:hover{
    width: 220px;
    height: auto;
}

/*Contact me*/

.contacts-wrapper{
    background: white;
    position: relative;
}

/*footer*/

.footer{
    background-color: #302F30;
    padding-top: 20px;
    padding-bottom: 20px;
    z-index: 7;
    position: relative;
}
.center a:first-child{
    color: black;
}
.autor-name{
    color: #fff;
    text-decoration: none;
}
.autor-name:hover{
    text-decoration: underline;
}

/*Queries*/
@media (max-width:1599px){
    .header-wrapper{
    min-height:780px;
    }
}
@media (max-width:991px){
    .header-wrapper{
	min-height:780px;
    }
}
@media screen and (max-width: 840px){
    .header-wrapper{
    min-height:680px;
    }
    ul li a{
        font-size: 1em;
    }
    h1{
        font-size: 2.2em;
    }
    h2{
        font-size: 2em;
    }
    .nav-container{
        text-align: center;
    }
    .logo{
        width: 260px;
        margin-left: 0;
        margin-top: 8px;
        margin-bottom: 0;
    }
    .nav-menu-container{
        float: none;
        margin-right: 0;
    }
    .header-content{
    position: fixed;
    top: 42%;
    margin: 0;  
    }
    .grid{
        margin-right: 4%;
        margin-left: 4%;
    }
    .content p{
    padding: 16px 28px;
    text-align: center;
    }
    .email{
        font-size: 1.2em;
    }
    .mouse_wrapper{
        top: 80%;
    }
}

/*Animations*/

.nav-white{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 0001; 
    
    animation-name: whiteOn;
    animation-duration: 0.6s;

    box-shadow: 0 1px 30px #302F2B;
    background-color: white;
}
@keyframes whiteOn {
    from {background-color: transparent;}
    to {background-color: white;}
}
@keyframes whiteOff {
    from {background-color: white;}
    to {background-color: transparent;}
}

.slideUp{
    animation-name: slideUp;
      animation-duration: 1s;
      visibility: visible;
}
@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(70%);
    } 
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

/*grid*/

*,
*:before,
*:after{
    box-sizing: inherit;
}
.grid{
    margin-right: 12%;
    margin-left: 12%; 
}
.row{
    margin-top: 10%;
    margin-bottom: 10%;
}
.grid:before,
.grid:after,
.row:before,
.row:after{
    content: " ";
    display: table;
    clear: both;
}
[class*='col-']{
    width: 100%;
    float: left;
    min-height: 1px;
}
@media screen and (min-width: 320px){
.col-wd-3{width: 25%;}
.col-wd-4{width: 33.33333%;}
.col-wd-5{width: 41.66667%;}
.col-wd-6{width: 50%;}
.col-wd-7{width: 58.33333%;}
.col-wd-8{width: 66.66667%;}
.col-wd-9{width: 75%;}
.col-wd-10{width: 83.33333%;}
.col-wd-11{width: 91.66667%;}
.col-wd-12{width: 100%;}
}
@media screen and (min-width: 820px){
.col-md-3{width: 25%;}
.col-md-4{width: 33.32%;}
.col-md-5{width: 41.66667%;}
.col-md-6{width: 50%;}
.col-md-7{width: 58.33333%;}
.col-md-8{width: 66.66667%;}
.col-md-9{width: 75%;}
.col-md-10{width: 83.33333%;}
.col-md-11{width: 91.66667%;}
.col-md-12{width: 100%;}
}
